@tailwind base;
@tailwind components;
* {
	margin: 0; /* zero out margin */
	padding: 0; /* zero out padding */
}
main {
	padding: 20px;
}
@media (prefers-color-scheme: light) {
	html,
	body {
		@apply bg-colorBackgroundLight text-colorOnBackgroundLight;
		margin: 0;
		position: absolute;
		height: 100%;
		width: 100vw;
		overflow-x: hidden;
		font-family: "Product Sans", sans-serif;
	}

	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
		border-radius: 8px;
		@apply bg-colorPrimaryContainerLight;
	}

	::-webkit-scrollbar {
		width: 8px;
		@apply bg-colorPrimaryContainerLight;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
		@apply bg-colorPrimaryLight;
	}
}

@media (prefers-color-scheme: dark) {
	html,
	body {
		@apply bg-colorBackgroundDark text-colorOnBackgroundDark;
		position: absolute;
		height: 100%;
		width: 100vw;
		overflow-x: hidden;
		font-family: "Product Sans", sans-serif;
	}
}
@media (prefers-color-scheme: dark) {
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		border-radius: 8px;
		@apply bg-colorBackgroundDark;
	}

	::-webkit-scrollbar {
		width: 8px;
		@apply bg-colorBackgroundDark;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		@apply bg-colorPrimaryDark;
	}
}

@tailwind utilities;
.noSelect {
	-webkit-tap-highdark-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.noSelect:focus {
	outline: none !important;
}
